archive
test.ipynb
svc_airflow/dags/__pycache__
svc_airflow/dags/scripts/__pycache__
svc_airflow/apps/scripts/__pycache__
svc_airflow/apps/scripts/dwh/__pycache__
svc_airflow/apps/scripts/raw/__pycache__
svc_airflow/apps/scripts/mart/__pycache__
svc_airflow/logs
svc_minio/data
svc_airflow/jars
svc_hive/hive/jars
svc_spark/jars
Makefile